/*
Credit: #
*/

body {
	margin: 0px;
	padding: 0px;
	color: #000;
	font-family: Tahoma, Geneva, sans-serif;
	font-size: 12px;
	line-height: 1.5em; 
	background-color: white;
}

.home { background-image: url(images/templatemo_home_body.jpg^) } 

a, a:link, a:visited { color: #990000; text-decoration: none; }
a:hover { color: #FFFFFF; text-decoration: underline; }

p { margin: 0 0 10px 0; padding: 0; }
img { border: none; }

h1, h2, h3, h4, h5, h6 { color: #d30404; font-weight: normal }
h1 { font-size: 34px; margin: 0 0 30px 0; padding: 5px 0; }
h2 { font-size: 28px; margin: 0 0 20px 0; padding: 0; }
h3 { font-size: 21px; margin: 0 0 15px; padding: 0; color: #ae0000; }
h4 { font-size: 18px; margin: 0 0 15px; padding: 0; }
h5 { font-size: 16px; margin: 0 0 10px; padding: 0; }
h6 { font-size: 14px; margin: 0 0 5px; padding: 0; }

.cleaner { clear: both }
.h10 { height: 10px }
.h20 { height: 20px }
.h30 { height: 30px }
.h40 { height: 40px }
.h50 { height: 50px }
.h60 { height: 60px }

a.more { color: #d60909; font-weight: bold; /* text-shadow: 1px 1px 1px #ff6767 */ }
a.more span { font-weight: bold; margin-left: 5px; }
a.more:hover { text-decoration: none }
a.more:hover span { font-weight: bold; margin-left: 10px }


.float_l { float: left }
.float_r { float: right }

.image_wrapper { display: inline-block; border: 1px solid #ccc; padding: 4px; background: none; margin-bottom: 5px }
.image_fl { float: left; margin: 3px 15px 0 0 }
.image_fr { float: right; margin: 3px 0 0 15px }

blockquote { font-style: italic; margin-left: 10px}
cite { font-weight: bold; color:#000 }
cite span { color: #333 }
em { color: #000; font-weight: 700 }

.tmo_list { margin: 0 0 0 10px; padding: 0; list-style: none }
.tmo_list li { color: #990000; margin: 0; padding: 3px 0 3px 15px; background: transparent url(images/templatemo_list.png) no-repeat scroll 0 8px }
.tmo_list li a { color: #990000; }
.tmo_list li a:hover { color: #FFFFFF; }

#templatemo_header { width: 1200px; height: 160px; padding: 0 50px; }

#site_title a {
	float: left;
	display: block;
	width: 210px;
	height: 80px;
	margin: 60px 0 0 85px;
	font-size: 24px;
	color: #fff;
	text-indent: -10000px;
	font-weight: normal;
	text-decoration: none;
	background: url(images/templatemo_logo.png) no-repeat
}

#header_right { float: right;  padding-top: 10px; display: inline-block; }

#templatemo_menu { float: right; width: 560px; height: 40px; margin: 80px 10px 0 0 }
#templatemo_menu ul { margin: 0; padding: 10px 0 0 0; list-style: none; }
#templatemo_menu ul li { padding: 0; margin: 0; display: inline; }
#templatemo_menu ul li a {
	float: left;
	display: block;
	padding-left: 22px;
	margin-left: 10px;
	font-size: 13px;
	color: #b17917;
	text-decoration: none;
	font-weight: bold;
	text-align: center; 
	outline: none;
	background:url(images/templatmeo_menu.jpg) left center no-repeat
}

#templatemo_menu ul li a:hover, #templatemo_menu ul .current { color: #ffa200; background: url(images/templatemo_menu_hover.jpg) left center no-repeat }

#templatemo_content { float:center; width: 1600px; padding: 30px 20px 0px 400px; }

.content_box {clear: both; margin-bottom: 50px }
.col_w210 { float: left; width: 210px; margin-right: 20px; }


.newsletter_box { color: #fff; background: url(images/newsletter_box.png) no-repeat top left; height: 85px; width: 170px; padding: 45px 20px 20px }
.newsletter_box p { margin-bottom: 5px }

#newsletter_email { width: 162px; margin-bottom: 5px; padding: 3px; background: #990000; border: 1px solid #FFFFFF; color: #FFFFFF; }
#subscribe { float: right; background: #990000; border: 1px solid #FFFFFF; color: #FFFFFF; padding: 3px 6px; margin: 0px; }

.col_w670 {
	float: left;
	width: 650px;
	padding-right: 20px;
	margin-right: 20px;
}

.col_w430 {
	float: left;
	width: 420px;
	padding-right: 20px;
	margin-right: 20px;
}

.last_col { margin: 0 }

.post_section { clear: both; padding-bottom: 30px; margin-bottom: 30px; border-bottom: 1px solid #ab6c00;  }

.post_section h1 { margin: 0 0 5px 0; padding: 10px 0 5px 0; line-height: 34px; background: url(images/templatemo_header.png) no-repeat bottom left; }

.post_section .post_content { clear: both; margin: 20px 0 0; }
.post_content .left { float: left; width: 170px; }
.post_content .left img { width: 160px; height: 120px; }
.post_content .right { float: right; width: 450px; }
.post_section p { padding-bottom: 5px; margin-bottom: 8px; }

#contact_form { width: 440px;  padding: 0; }
#contact_form form { margin: 0px; padding: 0px; }

#contact_form form .input_field { 
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #000; 
	width: 360px; 
	padding: 5px; 
	background: #fff; 
	border: 1px solid #7c4f01; 
}

#contact_form form label { display: block; color: #000; width: 100px; margin-top: 10px; margin-bottom: 5px; font-size: 14px; }

#contact_form form textarea {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #000;
	width: 428px;
	height: 200px;
	padding: 5px;
	background: #fff; 
	border: 1px solid #7c4f01;
}
	
#contact_form form .submit_btn { margin: 5px 0px 0px 0px; padding: 5px 10px; background: #fff; border: 1px solid #7c4f01; }

#templatemo_footer { width: 900px; height: 100px; padding: 0 20px 0 100px; margin-bottom: 50px;
	color: #626262;
	background: url(images/templatemo_footer.jpg) left top no-repeat }

#templatemo_footer a { color: #928f8a }
#footer_logo { float: left; width: 180px; background: url(images/templatemo_footer_divider.png) right top no-repeat; padding: 20px 60px 20px 0; }

#footer_right { float: right; width: 550px; padding: 20px 50px 20px; }