<!DOCTYPE html>
<html>

<head>
    {% load staticfiles %}
    <meta charset="utf-8" name="keywords"/>
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no">
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no"/>

    <title></title>
    <link rel="stylesheet" href="{% static '/TrafficEffect/TrafficCSS/Traffic.css' %}"/>
    <script type="text/javascript"
            src="http://api.map.baidu.com/api?v=2.0&ak=GXMP5BAfOXpVS6S31QF36T5oZlYO4Qks"></script>
    <script type="text/javascript"
            src="https://webapi.amap.com/maps?v=1.4.13&key=209b01c1d0a6f0270d5efb521e29f758"></script>

    <script src="{% static 'echarts.min.js' %}"></script>
    <script src="{% static 'jquery-3.3.1.min.js' %}"></script>
    <script src="{% static 'ComputerSize.js' %}"></script>
    <script src="{% static '/TrafficEffect/TrafficJs/Listener.js' %}"></script>
    <script src="{% static "/TrafficEffect/TrafficJs/Citydata.js" %}"></script>
    <script src="{% static '/TrafficEffect/TrafficJs/Request.js' %}"></script>
    <script src="{% static '/TrafficEffect/TrafficJs/Animate.js' %}"></script>
    <script src="{% static '/TrafficEffect/TrafficJs/LoadRoadData.js' %}"></script>
    <script src="{% static '/TrafficEffect/TrafficJs/Map.js' %}"></script>
</head>

<body>

<div class="top">
    <div class="title_left ">
        <div class="title_left1"></div>
        <div class="title_left2"></div>
        <div class="title_left3 "></div>

    </div>

    <div class="title_tag">
        <h1>大数据统计显示大屏</h1></div>

    <div class="title_right">
        <div class="title_right1"></div>
        <div class="title_right2 "></div>
        <div class="title_right3"></div>
    </div>
</div>

<div style="margin:20px;position: absolute;left: 20px;">
    <div id="navdiv" style="float: left;z-index: 999;">
        <h4>站点导航</h4>
        <ul>
            <li>
                <div>
                    <a href="{% url 'traffic' %}">交通监测</a></div>
            </li>
{#            <li>#}
{#                <div><a href="{% url 'WeatherFirst' %}">天气情况</a></div>#}
{#            </li>#}
            <li>
                <div>
                    <a href="{% url 'jingqu' %}">景区监测</a>
                </div>
            </li>

        </ul>
    </div>
    <button id="btn"
            style="position:absolute; margin-left: 100px; width: 50px;height: 50px;border-radius: 50%;background-color: aqua;">
        城市导航
        <ul id="CityList">
            <li><a href="{% url 'cityTraffic' 139 %}">茂名</a></li>
            <li><a href="{% url 'cityTraffic' 261 %}">南宁</a></li>
            <li><a href="{% url 'cityTraffic' 360 %}">银川</a></li>
            <li><a href="{% url 'cityTraffic' 654000 %}">伊犁</a></li>
            <li><a href="{% url 'cityTraffic' 198 %}">湛江</a></li>
            <li><a href="{% url 'cityTraffic' 810000 %}">香港</a></li>
            <li><a href="{% url 'cityTraffic' 121 %}">三亚</a></li>
            <li><a href="{% url 'cityTraffic' 92 %}">乌鲁木齐</a></li>
            <li><a href="{% url 'cityTraffic' 430400 %}">衡阳</a></li>
            <li><a href="{% url 'cityTraffic' 303 %}">汕头</a></li>
            <li><a href="{% url 'cityTraffic' 365 %}">赣州</a></li>
            <li><a href="{% url 'cityTraffic' 255 %}">漳州</a></li>
            <li><a href="{% url 'cityTraffic' 125 %}">海口</a></li>
            <li><a href="{% url 'cityTraffic' 104 %}">昆明</a></li>
            <li><a href="{% url 'cityTraffic' 305 %}">柳州</a></li>
            <li><a href="{% url 'cityTraffic' 283 %}">鄂尔多斯</a></li>
            <li><a href="{% url 'cityTraffic' 610100 %}">西安</a></li>
            <li><a href="{% url 'cityTraffic' 163 %}">南昌</a></li>
            <li><a href="{% url 'cityTraffic' 291 %}">南充</a></li>
            <li><a href="{% url 'cityTraffic' 240 %}">绵阳</a></li>
            <li><a href="{% url 'cityTraffic' 66 %}">西宁</a></li>
            <li><a href="{% url 'cityTraffic' 153 %}">洛阳</a></li>
            <li><a href="{% url 'cityTraffic' 323 %}">咸阳</a></li>
            <li><a href="{% url 'cityTraffic' 347 %}">连云港</a></li>
            <li><a href="{% url 'cityTraffic' 197 %}">清远</a></li>
            <li><a href="{% url 'cityTraffic' 341100 %}">滁州</a></li>
            <li><a href="{% url 'cityTraffic' 372 %}">德州</a></li>
            <li><a href="{% url 'cityTraffic' 178 %}">温州</a></li>
            <li><a href="{% url 'cityTraffic' 160 %}">镇江</a></li>
            <li><a href="{% url 'cityTraffic' 410700 %}">新乡</a></li>
            <li><a href="{% url 'cityTraffic' 142 %}">桂林</a></li>
            <li><a href="{% url 'cityTraffic' 321 %}">呼和浩特</a></li>
            <li><a href="{% url 'cityTraffic' 131 %}">北京</a></li>
            <li><a href="{% url 'cityTraffic' 620100 %}">兰州</a></li>
            <li><a href="{% url 'cityTraffic' 257 %}">广州</a></li>
            <li><a href="{% url 'cityTraffic' 146 %}">贵阳</a></li>
            <li><a href="{% url 'cityTraffic' 301 %}">惠州</a></li>
            <li><a href="{% url 'cityTraffic' 333 %}">金华</a></li>
            <li><a href="{% url 'cityTraffic' 265 %}">唐山</a></li>
            <li><a href="{% url 'cityTraffic' 500000 %}">重庆</a></li>
            <li><a href="{% url 'cityTraffic' 340 %}">深圳</a></li>
            <li><a href="{% url 'cityTraffic' 218 %}">武汉</a></li>
            <li><a href="{% url 'cityTraffic' 300 %}">福州</a></li>
            <li><a href="{% url 'cityTraffic' 302 %}">江门</a></li>
            <li><a href="{% url 'cityTraffic' 151 %}">邯郸</a></li>
            <li><a href="{% url 'cityTraffic' 338 %}">肇庆</a></li>
            <li><a href="{% url 'cityTraffic' 370700 %}">潍坊</a></li>
            <li><a href="{% url 'cityTraffic' 430100 %}">长沙</a></li>
            <li><a href="{% url 'cityTraffic' 510600 %}">德阳</a></li>
            <li><a href="{% url 'cityTraffic' 268 %}">郑州</a></li>
            <li><a href="{% url 'cityTraffic' 75 %}">成都</a></li>
            <li><a href="{% url 'cityTraffic' 309 %}">南阳</a></li>
            <li><a href="{% url 'cityTraffic' 316 %}">徐州</a></li>
            <li><a href="{% url 'cityTraffic' 294 %}">湖州</a></li>
            <li><a href="{% url 'cityTraffic' 320600 %}">南通</a></li>
            <li><a href="{% url 'cityTraffic' 264 %}">张家口</a></li>
            <li><a href="{% url 'cityTraffic' 194 %}">厦门</a></li>
            <li><a href="{% url 'cityTraffic' 127 %}">合肥</a></li>
            <li><a href="{% url 'cityTraffic' 346 %}">扬州</a></li>
            <li><a href="{% url 'cityTraffic' 286 %}">济宁</a></li>
            <li><a href="{% url 'cityTraffic' 355 %}">大同</a></li>
            <li><a href="{% url 'cityTraffic' 440400 %}">珠海</a></li>
            <li><a href="{% url 'cityTraffic' 138 %}">佛山</a></li>
            <li><a href="{% url 'cityTraffic' 321200 %}">泰州</a></li>
            <li><a href="{% url 'cityTraffic' 176 %}">太原</a></li>
            <li><a href="{% url 'cityTraffic' 180 %}">宁波</a></li>
            <li><a href="{% url 'cityTraffic' 315 %}">南京</a></li>
            <li><a href="{% url 'cityTraffic' 223 %}">盐城</a></li>
            <li><a href="{% url 'cityTraffic' 340200 %}">芜湖</a></li>
            <li><a href="{% url 'cityTraffic' 191 %}">廊坊</a></li>
            <li><a href="{% url 'cityTraffic' 48 %}">哈尔滨</a></li>
            <li><a href="{% url 'cityTraffic' 187 %}">中山</a></li>
            <li><a href="{% url 'cityTraffic' 348 %}">常州</a></li>
            <li><a href="{% url 'cityTraffic' 307 %}">保定</a></li>
            <li><a href="{% url 'cityTraffic' 244 %}">台州</a></li>
            <li><a href="{% url 'cityTraffic' 58 %}">沈阳</a></li>
            <li><a href="{% url 'cityTraffic' 134 %}">泉州</a></li>
            <li><a href="{% url 'cityTraffic' 148 %}">秦皇岛</a></li>
            <li><a href="{% url 'cityTraffic' 266 %}">邢台</a></li>
            <li><a href="{% url 'cityTraffic' 167 %}">大连</a></li>
            <li><a href="{% url 'cityTraffic' 179 %}">杭州</a></li>
            <li><a href="{% url 'cityTraffic' 330400 %}">嘉兴</a></li>
            <li><a href="{% url 'cityTraffic' 162 %}">淮安</a></li>
            <li><a href="{% url 'cityTraffic' 236 %}">青岛</a></li>
            <li><a href="{% url 'cityTraffic' 288 %}">济南</a></li>
            <li><a href="{% url 'cityTraffic' 325 %}">泰安</a></li>
            <li><a href="{% url 'cityTraffic' 326 %}">烟台</a></li>
            <li><a href="{% url 'cityTraffic' 354 %}">淄博</a></li>
            <li><a href="{% url 'cityTraffic' 289 %}">上海</a></li>
            <li><a href="{% url 'cityTraffic' 321300 %}">宿迁</a></li>
            <li><a href="{% url 'cityTraffic' 234 %}">临沂</a></li>
            <li><a href="{% url 'cityTraffic' 137 %}">韶关</a></li>
            <li><a href="{% url 'cityTraffic' 149 %}">沧州</a></li>
            <li><a href="{% url 'cityTraffic' 293 %}">绍兴</a></li>
            <li><a href="{% url 'cityTraffic' 332 %}">天津</a></li>
            <li><a href="{% url 'cityTraffic' 317 %}">无锡</a></li>
            <li><a href="{% url 'cityTraffic' 320500 %}">苏州</a></li>
            <li><a href="{% url 'cityTraffic' 53 %}">长春</a></li>
            <li><a href="{% url 'cityTraffic' 119 %}">东莞</a></li>
            <li><a href="{% url 'cityTraffic' 150 %}">石家庄</a></li>
            <li><a href="{% url 'cityTraffic' 79 %}">乐山</a></li>
            <li><a href="{% url 'cityTraffic' 342 %}">黔东南</a></li>
            <li><a href="{% url 'cityTraffic' 100 %}">拉萨</a></li>
            <li><a href="{% url 'cityTraffic' 353 %}">菏泽</a></li>
            <li><a href="{% url 'cityTraffic' 341 %}">贵港</a></li>
            <li><a href="{% url 'cityTraffic' 259 %}">揭阳</a></li>
            <li><a href="{% url 'cityTraffic' 201 %}">潮州</a></li>
            <li><a href="{% url 'cityTraffic' 262 %}">遵义</a></li>
            <li><a href="{% url 'cityTraffic' 330 %}">遂宁</a></li>
            <li><a href="{% url 'cityTraffic' 111 %}">大理</a></li>
            <li><a href="{% url 'cityTraffic' 54 %}">延边</a></li>
            <li><a href="{% url 'cityTraffic' 361 %}">玉林</a></li>
            <li><a href="{% url 'cityTraffic' 248 %}">内江</a></li>
            <li><a href="{% url 'cityTraffic' 215 %}">鹤壁</a></li>
            <li><a href="{% url 'cityTraffic' 308 %}">周口</a></li>
            <li><a href="{% url 'cityTraffic' 269 %}">驻马店</a></li>
            <li><a href="{% url 'cityTraffic' 351 %}">辽阳</a></li>
            <li><a href="{% url 'cityTraffic' 128 %}">阜阳</a></li>
            <li><a href="{% url 'cityTraffic' 208 %}">衡水</a></li>
            <li><a href="{% url 'cityTraffic' 186 %}">宜宾</a></li>
            <li><a href="{% url 'cityTraffic' 249 %}">曲靖</a></li>
            <li><a href="{% url 'cityTraffic' 364 %}">上饶</a></li>
            <li><a href="{% url 'cityTraffic' 267 %}">安阳</a></li>
            <li><a href="{% url 'cityTraffic' 229 %}">包头</a></li>
            <li><a href="{% url 'cityTraffic' 245 %}">舟山</a></li>
            <li><a href="{% url 'cityTraffic' 366 %}">聊城</a></li>
            <li><a href="{% url 'cityTraffic' 292 %}">丽水</a></li>
            <li><a href="{% url 'cityTraffic' 243 %}">衢州</a></li>
            <li><a href="{% url 'cityTraffic' 344 %}">漯河</a></li>
            <li><a href="{% url 'cityTraffic' 213 %}">平顶山</a></li>
            <li><a href="{% url 'cityTraffic' 106 %}">玉溪</a></li>
            <li><a href="{% url 'cityTraffic' 155 %}">许昌</a></li>
            <li><a href="{% url 'cityTraffic' 200 %}">河源</a></li>
            <li><a href="{% url 'cityTraffic' 130 %}">安庆</a></li>
            <li><a href="{% url 'cityTraffic' 278 %}">宜春</a></li>
            <li><a href="{% url 'cityTraffic' 112 %}">保山</a></li>


        </ul>

    </button>
</div>

<br/>
<br/>
<br/>
<br/>
<h1 style="clear: both;color: cyan;text-align: center;padding: 10px">{{ data.CityName }}交通拥堵实时检测</h1>

<h3>交通拥堵实时检测</h3>
<div id="City">
    <div id="Citytraffic"></div>
    <div id="descriton">
        <h3>说明</h3>
        <p>交通分析报告是针对城市交通路况的一款免费研究平台。是以高德海量用户和行业专业浮动车数据相结合的交通数据分享平台。
            交通分析报告是针对城市交通路况的一款免费研究平台。是以高德海量用户和行业专业浮动车数据相结合的交通数据分享平台。
            报告是基于高德积累的海量交通出行数据，通过大数据挖掘计算所得，通用算法与理论保证了其合理性与科学性。报告采用“拥堵延时指数”作为城市拥堵程度的评价指标，即城市居民平均一次出行实际旅行时间与自由流状态下旅行时间的比值。该指数从交通出行者角度出发，以简单易懂的方式表达交通拥堵给出行者带来的时间成本。此报告客观地从多维度反映城市的交通拥堵状况，力争做到精准、精细、精确，为公众交通出行、机构研究、政府决策提供有价值的理论参考依据。
            报告是基于高德积累的海量交通出行数据，通过大数据挖掘计算所得，通用算法与理论保证了其合理性与科学性。报告采用“拥堵延时指数”作为城市拥堵程度的评价指标，即城市居民平均一次出行实际旅行时间与自由流状态下旅行时间的比值。该指数从交通出行者角度出发，以简单易懂的方式表达交通拥堵给出行者带来的时间成本。此报告客观地从多维度反映城市的交通拥堵状况，力争做到精准、精细、精确，为公众交通出行、机构研究、政府决策提供有价值的理论参考依据。</p>
    </div>
</div>
<div style="clear:left;margin-left: 10px;width: 100%;height: 720px">
    <table>
        <thead>
        <tr>
            <th>排名</th>
            <th>道路名称</th>
            <th>拥堵延时指数</th>
            <th>速度</th>
        </tr>
        </thead>
        <tr>
            <td class="paiming">1</td>
            <td>
                <div class="route">
                    <p class="name"></p>
                    <p class="dir"></p>
                </div>
            </td>
            <td class="exp"></td>
            <td class="speed"></td>
        </tr>
        <tr>
            <td class="paiming">2</td>
            <td>
                <div class="route">
                    <p class="name"></p>
                    <p class="dir"></p>
                </div>
            </td>
            <td class="exp"></td>
            <td class="speed"></td>
        </tr>
        <tr>
            <td class="paiming">3</td>
            <td>
                <div class="route">
                    <p class="name"></p>
                    <p class="dir"></p>
                </div>

            </td>
            <td class="exp"></td>
            <td class="speed"></td>
        </tr>
        <tr>
            <td class="paiming">4</td>
            <td>
                <div class="route">
                    <p class="name"></p>
                    <p class="dir"></p>
                </div>
            </td>
            <td class="exp"></td>
            <td class="speed"></td>
        </tr>
        <tr>
            <td class="paiming">5</td>
            <td>
                <div class="route">
                    <p class="name"></p>
                    <p class="dir"></p>
                </div>
            </td>
            <td class="exp"></td>
            <td class="speed"></td>
        </tr>
        <tr>
            <td class="paiming">6</td>
            <td>
                <div class="route">
                    <p class="name"></p>
                    <p class="dir"></p>
                </div>
            </td>
            <td class="exp"></td>
            <td class="speed"></td>
        </tr>
        <tr>
            <td class="paiming">7</td>
            <td>
                <div class="route">
                    <p class="name"></p>
                    <p class="dir"></p>
                </div>
            </td>
            <td class="exp"></td>
            <td class="speed"></td>
        </tr>
        <tr>
            <td class="paiming">8</td>
            <td>
                <div class="route">
                    <p class="name"></p>
                    <p class="dir"></p>
                </div>
            </td>
            <td class="exp"></td>
            <td class="speed"></td>
        </tr>
        <tr>
            <td class="paiming">9</td>
            <td>
                <div class="route">
                    <p class="name"></p>
                    <p class="dir"></p>
                </div>
            </td>
            <td class="exp"></td>
            <td class="speed"></td>
        </tr>
        <tr>
            <td class="paiming">10</td>
            <td>
                <div class="route">
                    <p class="name"></p>
                    <p class="dir"></p>
                </div>
            </td>
            <td class="exp"></td>
            <td class="speed"></td>
        </tr>


    </table>
    <div style="float: left;height: 100%;width: 40%;margin-left: 3%">
        <div id="map">地图</div>
        <div id="roadData">道路情况</div>
    </div>

</div>
<p style="clear: left;color: white">*注：数据样本截取自早晚高峰时段；速度单位：公里/小时；长度单位：公里；时间单位：分钟</p>

<div style="text-align: center;margin-top: 15px;margin-bottom: 50px">
    <h2 style="color: white;background-color: transparent;">全年季度交通情况</h2>
    <div id="yearData"></div>
</div>
<script>
    var map = new AMap.Map('map', {
        layers: [new AMap.TileLayer.Satellite()], //设置图层,可设置成包含一个或多个图层的数组
        mapStyle: 'amap://styles/whitesmoke', //设置地图的显示样式
        viewMode: '2D', //设置地图模式
        lang: 'zh_cn', //设置地图语言类型
        expandZoomRange: true,
        zooms: [3, 20],
        zoom: 17,
    });

    var CC = new CityChart("roadData");
    CC.setData("");
</script>
<script>

    $(document).ready(function () {
        //全部需要改为数据库请求
        new request_("{% url 'getRoadTraffic' data.citycode %}", "roadData", 1);
        new request_("{% url 'requestCityTrafficData' data.citycode %}", "Citytraffic", 2);
        new request_("{% url 'getYearTraffic' data.citycode %}", "yearData", 3);


    });
    new Animate();


</script>
</body>
交通拥堵实时检测
</html>
