.fexed-menu,.fexed-menu.fixed .bg-appDetailTop {
    position: fixed;
    top: 0;
    z-index: 101;
    right: 0;
    left: 0
}

.app-compare,.app-compare-container,.appDetail-container,.data-compare-percent,.data-container .diff,.datas-contents,.dropdown ul,.entering-contents,.feedback-container,.ranking-content,.ranking-list-container,.ranking-time,.write-textarea textarea {
    box-sizing: border-box
}

.app-percent-contents.average em,.trophy {
    visibility: hidden
}

.bg-appDetailTop {
    background: rgba(62,69,131,.3);
    background: -webkit-gradient(linear,left top,left bottom,from(rgba(22,27,73,.3)),to(rgba(51,59,137,.3)));
    box-shadow: 0 4px 5px -3px #17193b
}

.bg-appDetailTop.remove_cor {
    padding-bottom: 40px
}

.fexed-menu {
    padding-bottom: 30px;
    background: #141540;
    height: 70px
}

.fexed-menu.fixed .bg-appDetailTop {
    background: #181d58
}

.appDetail-container {
    width: 1200px;
    margin: 0 auto;
    padding-top: 14px;
    color: #a2b0f5;
    position: relative
}

.appDetail-container .share {
    position: absolute;
    right: 56px;
    top: 25px;
    z-index: 3;
    display: flex;
    justify-content: start;
    align-items: center;
    overflow: hidden;
    width: 50px;
    transition: all linear .3s;
    -webkit-transition: all linear .3s;
    -moz-transition: all linear .3s;
    -ms-transition: all linear .3s;
    -o-transition: all linear .3s
}

.appDetail-container .trend-correction .share {
    right: 118px
}

.en_index .appDetail-container .trend-correction .share {
    right: 135px
}

.appDetail-container .share.show {
    width: 130px
}

.en_index .appDetail-container .share.show {
    width: 146px
}

.appDetail-container.draw {
    height: 66px
}

.appDetail-container a {
    color: #a2b0f5
}

.appDetail-container a:hover {
    color: #fff
}

.app-compare-container {
    padding: 0 0 20px;
    display: flex;
    justify-content: space-between
}

.app-compare {
    width: 600px;
    padding: 20px 0
}

.app-compare:first-child {
    border-right: 1px solid #353b74
}

.app-compare:first-child .ranking-type {
    margin-right: 20px
}

.app-compare:last-child {
    padding-left: 20px
}

.app-compare:last-child .app-logo dl.app-name dt i {
    background: #00e66d
}

.app-logo {
    position: relative
}

.app-logo span {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    overflow: hidden;
    text-align: center
}

.app-logo span img {
    width: 100%
}

.app-logo dl.app-name {
    padding-top: 12px
}

.app-logo dl.app-name dt {
    font-size: 20px;
    color: #fff;
    width: 196px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    align-content: center;
    padding-bottom: 4px
}

.app-logo dl.app-name dt i {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background: #3690ff;
    display: inline-block;
    margin-right: 8px
}

.app-logo dl.app-name dt label {
    max-width: 140px;
    display: inline-block;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    position: relative;
    padding-right: 10px
}

.app-logo dl.app-name em {
    position: relative;
    top: -40px;
    right: -20px;
    color: #8390d2;
    width: 20px;
    height: 20px;
    line-height: 20px;
    text-align: center;
    border-radius: 50%;
    font-size: 18px;
    cursor: pointer
}

.app-logo dl.app-name em:hover {
    background: #8390d2;
    color: #fff
}

.app-logo dl.app-name dd {
    font-size: 12px;
    color: #8492e3;
    border: none;
    border-radius: 0;
    margin-right: 0;
    float: inherit;
    line-height: 26px;
    padding: 0 10px;
    position: relative;
    margin-left: -10px;
    overflow: hidden;
    width: 124px
}

.app-logo dl.app-name dd label i,em.icon-rise-fall:before {
    border-left: 4px solid transparent;
    border-right: 4px solid transparent
}

.app-logo dl.app-name dd:hover {
    background: #3e4583;
    overflow: inherit
}

.app-logo dl.app-name dd label {
    position: relative;
    padding-right: 12px;
    width: calc(100% - 12px);
    display: block;
    cursor: pointer
}

.app-logo dl.app-name dd label i {
    width: 0;
    height: 0;
    display: inline-block;
    position: relative;
    margin-left: 8px;
    top: -2px;
    border-top: 4px solid #8492e3
}

.app-logo dl.app-name dd ul {
    position: absolute;
    background: #3e4583;
    margin-left: -10px;
    padding: 0 10px 6px;
    width: calc(100% - 20px);
    max-height: 100px;
    overflow: hidden
}

.app-logo dl.app-name dd ul li:hover {
    color: #fff;
    cursor: pointer
}

.app-logo b {
    position: absolute;
    right: 0;
    top: 5px;
    height: 70px;
    width: 1px;
    background: #3e4583;
    text-indent: -9999px
}

.ranking-type {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 280px;
    background: rgba(62,69,131,.16)
}

.ranking-type>div {
    padding: 15px 15px 15px 0;
    margin-right: 1px;
    border-radius: 2px
}

.ranking-type b {
    color: #7683ce;
    display: inline-block;
    padding-bottom: 8px
}

.ranking-type span {
    color: #fff;
    font-size: 20px;
    width: 62px;
    display: inline-block
}

em.icon-rise-fall {
    font-size: 14px;
    position: relative;
    padding-left: 12px
}

em.icon-rise-fall:after,em.icon-rise-fall:before {
    content: '';
    position: absolute
}

em.icon-rise-fall:before {
    width: 0;
    height: 0;
    border-top: 4px solid #ccc;
    border-bottom: 4px solid #ccc;
    left: 0;
    top: -2px
}

em.icon-rise-fall:after {
    width: 2px;
    height: 6px;
    left: 3px;
    top: 6px
}

.up em.icon-rise-fall:before {
    border-bottom-color: #ffac01;
    border-top: 4px solid transparent
}

.up em.icon-rise-fall:after {
    background: #ffac01
}

.down em.icon-rise-fall:before {
    border-top-color: #00e66d;
    border-bottom: 4px solid transparent;
    top: 9px
}

.down em.icon-rise-fall:after {
    background: #00e66d;
    top: 3px
}

.dropdown-container {
    padding-top: 15px
}

.dropdown {
    position: relative
}

.dropdown .selected {
    height: 46px;
    line-height: 46px;
    position: relative;
    cursor: pointer;
    font-size: 18px;
    width: 180px;
    padding: 0
}

.dropdown .selected:focus {
    border: 1px solid #4d5598
}

.dropdown .selected label {
    display: inline-block;
    cursor: pointer
}

.dropdown .selected label.active {
    color: #fff
}

.dropdown .selected label input {
    height: 45px;
    width: 136px;
    color: #fff;
    background: 0 0;
    font-size: 14px;
    padding: 0 30px 0 12px;
    border: 1px solid transparent
}

.dropdown .selected label input:focus,.select-list {
    border: 1px solid #4d5598
}

.dropdown .selected label input::-webkit-input-placeholder {
    color: #acb5e5
}

.dropdown .selected label input:-moz-placeholder {
    color: #acb5e5
}

.dropdown .selected label input::-moz-placeholder {
    color: #acb5e5
}

.dropdown .selected label input:-ms-input-placeholder {
    color: #acb5e5
}

.dropdown .selected label ::-webkit-input-placeholder {
    color: #fff
}

.dropdown .selected label ::-moz-placeholder {
    color: #fff
}

.select-list {
    width: calc(100% - 2px);
    background: rgba(37,42,88,.8);
    border-radius: 0 0 2px 2px;
    position: absolute;
    z-index: 3;
    top: 46px
}

.dropdown ul {
    padding: 4px 0;
    max-height: 290px;
    overflow: auto
}

.dropdown ul li {
    padding: 0 12px;
    line-height: 40px;
    font-size: 14px
}

.dropdown ul li:hover {
    background: rgba(77,85,152,.8);
    color: #fff;
    cursor: pointer
}

.app-percent-contents,.look-forward {
    line-height: 30px;
    color: rgba(255,255,255,.7)
}

.box-shadow {
    box-shadow: 0 1px 16px rgba(0,0,6,.2)
}

.data-compare-percent {
    margin-bottom: 75px;
    display: flex;
    border-radius: 2px
}

.datas-contents {
    width: 25%;
    border-right: 1px solid rgba(30,33,79,.5);
    background: rgba(62,69,131,.16);
    padding: 10px 16px
}

.datas-contents h5 {
    padding-bottom: 8px
}

.datas-contents:last-child {
    border-right: 0
}

.icon-explain.throng {
    position: relative;
    top: -2px
}

.icon-explain.throng:hover .help {
    left: -40px;
    width: 200px
}

.icon-explain.throng:hover .help:before {
    left: 44px
}

.app-percent-contents {
    display: flex;
    justify-content: space-between;
    align-items: center
}

.app-percent-contents label {
    width: 66px
}

.app-percent-contents b {
    width: 100px;
    margin: 0 10px;
    height: 2px;
    border-radius: 4px;
    overflow: hidden;
    position: relative
}

.app-percent-contents b i {
    position: absolute;
    left: 0;
    top: 0;
    height: 2px;
    border-radius: 4px;
    background: #3690ff
}

.app-percent-contents.compare b i {
    background: #00e66d
}

.app-percent-contents.average b i {
    background: #eca222
}

.app-percent-contents span {
    width: 56px;
    text-align: right;
    margin-right: 10px
}

.app-percent-contents em {
    font-size: 12px;
    width: 55px;
    color: #8493e3
}

.mainDatas-container {
    width: 1200px;
    height: 100%;
    margin: 32px auto 0;
    position: relative;
    padding-bottom: 100px;
    box-sizing: border-box
}

.data-menu label,.data-menu span {
    height: 50px;
    line-height: 50px;
    font-size: 14px
}

.mainDatas-container.throng {
    padding-bottom: 0;
    margin-bottom: -28px
}

.mainDatas-container.rank {
    padding-bottom: 0
}

.datas-container.trend,.mainDatas-container.trend {
    background: rgba(62,69,131,.1);
    padding-bottom: 0;
    margin: 28px auto 0;
    box-shadow: 0 0 12px rgba(0,0,7,.1);
    border-radius: 4px
}

.mainDatas-container .data-menu {
    margin-top: -80px
}

.ranking-sec-menu {
    display: flex;
    justify-content: center
}

.data-menu label {
    color: #FFF
}

.data-menu span {
    padding: 0 2px;
    display: inline-block;
    border-bottom: 2px solid transparent;
    color: #acb5e5;
    margin-right: 30px
}

.data-menu span i {
    font-size: 22px;
    vertical-align: middle;
    padding-right: 3px
}

.data-menu span.active,.data-menu span:hover {
    border-color: #3690ff;
    color: #fff;
    cursor: pointer
}

.data-container {
    display: flex;
    justify-content: space-between;
    align-items: center
}

.data-container .diff:first-child {
    border-right: 1px solid #3e4583
}

.data-container h3 {
    font-size: 14px;
    color: #8493e3;
    padding-bottom: 20px
}

.dataPic-container h4 {
    color: #fff;
    font-size: 16px;
    padding: 35px 0
}

.dataPic-container {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: stretch
}

.dataPic-container .datas-container.trend {
    width: 49%;
    margin: 0 0 30px
}

.dataPic-container .datas-container.col12 {
    width: 100%;
    margin: 0 0 30px
}

.dataPic-container.compare .datas-container.trend {
    width: 100%
}

.age-content,.brand-distribute,.gender-distribute {
    border-bottom: 1px solid #3e4583
}

.gender-content {
    margin: 30px 0;
    width: 100%;
    padding: 0 20px;
    position: relative;
    height: 380px;
    overflow: auto
}

.gender-content.scale {
    margin-top: 0
}

.proportion {
    width: 100%;
    text-align: center;
    margin-bottom: 20px;
    padding-top: 10px
}

.proportion dl dt {
    display: block;
    width: 138px;
    height: 138px;
    margin: 0 auto;
    border-radius: 50%;
    font-size: 14px
}

.proportion dl.boy dt {
    border: 1px solid #384191;
    background: rgba(91,103,174,.2);
    color: #6374ff
}

.proportion dl.boy dd {
    color: #6374ff
}

.proportion dl.girl dt {
    border: 1px solid #703a96;
    background: rgba(191,78,217,.2);
    color: #bf4ed9
}

.proportion dl.girl dd {
    color: #bf4ed9
}

.proportion dl i {
    font-size: 70px;
    display: block;
    margin: 22px 0 6px
}

.proportion dl dd {
    font-size: 25px;
    padding-top: 20px
}

.proportion-pic {
    width: 100%;
    height: 45px
}

.proportion-pic span {
    height: 70px;
    display: inline-block
}

.proportion-pic .man-percnet {
    background: url(../images/pic-male.png) left top
}

.proportion-pic .woman-percent {
    background: url(../images/pic-female.png) right top
}

.age-distribute {
    padding: 0 30px;
    height: 430px;
    width: 90%;
    margin: 30px auto
}

.line-container {
    position: relative;
    margin-top: 10px
}

.age-distribute b {
    height: 1px;
    width: calc(100% - 50px);
    background: #353c6e;
    text-indent: -9999px;
    display: block;
    position: absolute;
    left: 50px
}

.age-distribute b i {
    position: absolute;
    text-indent: 0;
    left: -36px;
    top: -6px;
    color: #acb5e5
}

.age-distribute b:first-child {
    top: 0
}

.age-distribute b:nth-child(2) {
    top: 64px
}

.age-distribute b:nth-child(3) {
    top: 128px
}

.age-distribute b:nth-child(4) {
    top: 192px
}

.age-distribute b:nth-child(5) {
    top: 256px
}

.age-distribute ul {
    height: calc(100% - 83px);
    margin-left: 52px
}

.age-distribute ul li {
    display: block;
    float: left;
    width: 12.6%;
    margin: 0 2%;
    height: 100%;
    position: relative;
    text-align: center
}

.age-distribute ul li i {
    position: absolute;
    top: -10px;
    display: block;
    font-size: 16px;
    font-style: normal;
    text-align: center;
    width: 100%;
    font-weight: 700
}

.age-distribute ul li span {
    width: 40px;
    height: 256px;
    bottom: 90px;
    position: absolute;
    left: 50%;
    margin-left: -20px
}

.age-distribute ul li span em {
    width: calc(100% - 2px);
    position: absolute;
    bottom: 0;
    left: 0;
    background: rgba(99,116,255,.9);
    border: 1px solid #8391ff
}

.age-distribute ul li label {
    position: absolute;
    width: 40px;
    height: 50px;
    display: block;
    bottom: 39px;
    border-top: 1px solid #5563d4;
    left: 50%;
    margin-left: -20px
}

.age-distribute ul li label>strong {
    width: 50px;
    position: absolute;
    left: calc(18% - 13px);
    bottom: 49px;
    height: 1px;
    background: #59abfd;
    text-indent: -9999px
}

.age-distribute ul li label em {
    width: 100%;
    margin: 0 auto;
    height: 50px;
    display: block;
    background: #4e5bc9;
    position: relative;
    border-radius: 0 0 2px 2px
}

.age-distribute ul li label em q {
    font-size: 40px;
    color: #1d214b;
    position: absolute;
    width: 100%;
    text-align: center;
    left: 0;
    bottom: 3px
}

.age-distribute ul li:first-child label em q,.age-distribute ul li:nth-child(2) label em q {
    font-size: 32px;
    bottom: 5px
}

.age-distribute ul li>strong {
    position: absolute;
    bottom: 0;
    display: block;
    width: 100%;
    font-size: 14px;
    color: #acb5e5
}

.brand-content {
    margin: 30px 0;
    padding: 0 20px;
    position: relative;
    width: 100%;
    height: 370px
}

.brand-content.diff {
    width: 50%;
    height: 100%
}

.area-content,.label-content {
    position: relative;
    width: 100%
}

.area-label {
    padding: 40px 0 50px;
    display: block
}

.area-content .echarts-tooltip li,.maps-content .echarts-tooltip li {
    display: inline-block;
    line-height: 28px
}

.area-label h4 {
    color: #fff;
    font-size: 16px
}

.area-container {
    border-right: 1px solid #3e4583
}

.border-none {
    border-right: none
}

.label-container h4 {
    padding-left: 40px
}

.area-content {
    padding: 30px 50px 0 0;
    height: 370px
}

.border-none .area-content {
    height: 530px
}

.label-content {
    padding: 40px 0 0 40px;
    height: 370px
}

.age-distribute .tooltip,.area-content .echarts-tooltip,.maps-content .echarts-tooltip {
    position: absolute;
    background: rgba(11,15,52,.85);
    box-shadow: 0 0 8px #0d1137;
    z-index: 10
}

.area-content .echarts-tooltip li:first-child,.area-content .echarts-tooltip li:nth-child(2),.maps-content .echarts-tooltip li:first-child,.maps-content .echarts-tooltip li:nth-child(2) {
    width: 80px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap
}

.area-content .echarts-tooltip {
    border: 1px solid #4d5ba7;
    border-radius: 4px;
    padding: 12px 12px 5px;
    font-size: 13px
}

.area-content .echarts-tooltip h5 {
    font-size: 13px;
    font-weight: 700;
    color: #acb5e5;
    padding-bottom: 5px
}

.area-content .echarts-tooltip ul {
    color: #acb5e5
}

.area-content .echarts-tooltip li:first-child {
    padding-left: 10px
}

.area-content .echarts-tooltip li:nth-child(2) {
    padding-right: 10px
}

.area-content .echarts-tooltip ol {
    color: #3dea99;
    padding-top: 7px;
    margin-top: 6px;
    font-size: 16px
}

.maps-content .echarts-tooltip {
    border: 1px solid #4d5ba7;
    border-radius: 4px;
    padding: 12px 12px 5px;
    font-size: 13px
}

.maps-content .echarts-tooltip h5 {
    font-size: 13px;
    font-weight: 700;
    color: #acb5e5;
    padding-bottom: 5px
}

.maps-content .echarts-tooltip ul {
    color: #acb5e5
}

.maps-content .echarts-tooltip li:first-child {
    padding-left: 10px
}

.maps-content .echarts-tooltip li:nth-child(2) {
    padding-right: 10px
}

.maps-content .echarts-tooltip ol {
    color: #3dea99;
    padding-top: 7px;
    margin-top: 6px;
    font-size: 16px
}

#clock {
    font-size: 24px;
    color: #acb5e5;
    letter-spacing: 3px;
    float: left
}

.age-distribute .tooltip {
    border: 1px solid #4d5ba7;
    border-radius: 4px;
    padding: 12px 12px 5px;
    font-size: 13px;
    display: none
}

.age-distribute .tooltip h5 {
    font-size: 13px;
    width: 50px;
    font-weight: 700;
    color: #acb5e5;
    padding-bottom: 5px
}

.compare-data ul li {
    color: #fff;
    font-size: 16px
}

.compare-data li:first-child {
    font-size: 13px
}

.trend-ope {
    background: rgba(62,69,131,.32);
    height: 52px;
    line-height: 52px
}

.trend-dopwdown .dropdown .selected {
    height: 24px;
    line-height: 24px;
    border: 1px solid #4d5598;
    font-size: 13px;
    width: 100px;
    background: rgba(37,42,88,.8)
}

.trend-dopwdown .dropdown .selected i {
    top: 10px;
    right: 10px
}

.trend-dopwdown .select-list {
    top: 25px
}

.trend-dopwdown .dropdown ul {
    background: rgba(37,42,88,.8)
}

.trend-dopwdown .dropdown ul li {
    line-height: 30px;
    font-size: 13px;
    color: #acb5e5
}

.trend-dopwdown .dropdown ul li:hover {
    background: #30366b;
    cursor: pointer
}

.trend-ope ol,.trend-ope ol li {
    background: rgba(83,97,160,.2);
    color: #acb5e5
}

.trend-ope ol {
    border: 1px solid #4d5598;
    margin: 13px 20px 0 0;
    border-radius: 4px;
    overflow: hidden
}

.trend-ope ol li {
    display: inline-block;
    float: left;
    width: 40px;
    text-align: center;
    line-height: 24px;
    border-right: 1px solid #4d5598;
    font-size: 12px
}

.trend-ope ol li.icon-curve,.trend-ope ol li.icon-table,.trend-ope>h5 {
    font-size: 14px
}

.trend-ope>ul li {
    display: inline-block;
    float: left;
    padding: 0 5px;
    margin: 0 15px;
    line-height: 49px;
    height: 49px;
    border-bottom: 3px solid transparent;
    color: #bfc0d0;
    font-size: 14px
}

.trend-ope ol li:last-child {
    border-right: 0
}

.trend-ope>ul li.active,.trend-ope>ul li:hover {
    cursor: pointer;
    border-bottom-color: #3690ff;
    color: #fff
}

.trend-ope ol li.active,.trend-ope ol li:hover {
    background: rgba(29,34,76,.2);
    color: #fff;
    cursor: pointer
}

.trend-ope>h5 {
    color: rgba(255,255,255,.7);
    line-height: 49px;
    border-bottom: 3px solid transparent;
    position: relative;
    margin: 0 40px 0 20px
}

.trend-ope>h5.trans.active,.trend-ope>h5.trans:hover {
    cursor: pointer;
    border-bottom-color: #3690ff
}

.trend-ope>h5.trans i.icon-explain {
    position: absolute;
    right: -20px;
    top: 15px
}

.dataLine-content {
    padding: 30px 0;
    position: relative
}

.dataLine-content.recommend {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 60px 28px 40px
}

.change-rank span,.dataLine-explain li,.dataLine-rank ol li,.dataLine-trend .echarts-tooltip li {
    display: inline-block
}

.dataLine-content.recommend dt {
    width: 80px;
    height: 80px;
    overflow: hidden;
    border-radius: 50%;
    background: #ccc
}

.dataLine-explain,.dataLine-trend .echarts-tooltip {
    background: rgba(11,15,52,.85);
    font-size: 13px;
    position: absolute
}

.dataLine-content.recommend dd {
    padding: 14px 0;
    text-align: center;
    color: rgba(255,255,255,.7);
    width: 80px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis
}

.dataLine-content.recommend dt img {
    width: 100%
}

.dataLine-explain li:first-child,.dataLine-trend .echarts-tooltip ul li:first-child {
    width: 80px
}

.dataLine-explain {
    border: 1px solid #5665b8;
    border-radius: 4px;
    padding: 10px 10px 0
}

.dataLine-explain ul {
    color: #8493e3;
    line-height: 22px;
    padding-bottom: 6px
}

.dataLine-explain ul li {
    font-weight: 700
}

.dataLine-explain li:nth-child(2),.dataLine-explain li:nth-child(3) {
    padding: 0 30px;
    min-width: 60px
}

.dataLine-trend .echarts-tooltip {
    border: 1px solid #5665b8;
    border-radius: 4px;
    padding: 10px 10px 0
}

.dataLine-trend .echarts-tooltip ul {
    color: #8493e3;
    line-height: 22px;
    padding-bottom: 6px
}

.dataLine-trend .echarts-tooltip ul li {
    font-size: 12px!important
}

.dataLine-trend .echarts-tooltip ol li:first-child {
    width: 80px;
    height: 25px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis
}

.dataLine-trend .echarts-tooltip li:nth-child(2),.echarts-tooltip li:nth-child(3) {
    padding: 0 30px;
    min-width: 60px;
    width: 90px
}

.dataLine-public .echarts-tooltip {
    position: absolute;
    z-index: 10;
    background: rgba(78,93,171,.6);
    border: 1px solid #4d5793;
    border-radius: 4px;
    padding: 12px
}

.dataLine-public .echarts-tooltip label {
    color: #fff;
    font-size: 12px
}

.dataLine-public .echarts-tooltip p {
    color: #3dea99;
    font-size: 13px;
    width: 140px;
    padding-top: 10px
}

.dataLine-public .echarts-tooltip p b {
    font-size: 16px;
    padding-right: 4px
}

.dataLine-public .echarts-tooltip i {
    position: absolute;
    border-top: 7px solid #3a4483;
    border-left: 7px solid transparent;
    border-right: 7px solid transparent;
    z-index: 10;
    top: 66px
}

.dataLine-rank {
    padding: 35px 0 20px;
    margin-bottom: 12px
}

.change-rank {
    position: absolute;
    z-index: 10;
    top: 30px;
    left: 20px
}

.change-rank span {
    padding: 0 12px;
    line-height: 24px;
    float: left;
    background: rgba(83,97,160,.2);
    color: #acb5e5;
    margin-right: 5px;
    border: 1px solid #4d5598;
    border-radius: 4px
}

.change-rank span.active,.change-rank span:hover {
    cursor: pointer;
    background: 0 0;
    color: #fff
}

.dataLine-rank ol li {
    float: left;
    color: #acb5e5;
    margin-left: 20px
}

.dataLine-rank ol li b {
    display: inline-block;
    vertical-align: middle;
    width: 20px;
    height: 4px;
    border-radius: 20px;
    margin: -2px 5px 0 0
}

.dataLine-rank ol li.blue b {
    background: #318bfa
}

.dataLine-rank ol li.green b {
    background: #00ae77
}

.dataLine-rank ol li.yellow b {
    background: #eca222;
    margin-left: 15px
}

.dataLine-rank ol li.orange b {
    background: #ec611d
}

.active,.dataLine-content .dataLine-rank .trans:hover {
    color: #fff
}

.copmare-dataLine ol {
    color: #cdcdd1;
    display: flex;
    align-items: center;
    padding: 3px 0
}

.copmare-dataLine ol li {
    line-height: 28px;
    font-size: 14px
}

.copmare-dataLine ol li:first-child {
    font-size: 13px
}

.copmare-dataLine ol li b {
    display: inline-block;
    width: 10px;
    height: 10px;
    margin-right: 10px
}

.copmare-dataLine ol:first-child li b {
    background: #00ae5d
}

.copmare-dataLine ol:last-child li b {
    background: #778aee
}

.ranking-list {
    padding: 40px 0
}

.ranking-list .ranking-time h4,.ranking-time li {
    padding-left: 30px
}

.ranking-time {
    width: 130px;
    border-right: 1px solid #1b1f47
}

.ranking-list h4 {
    background: rgba(62,69,131,.5);
    line-height: 56px;
    font-size: 13px;
    color: #fff
}

.ranking-list .ranking-time h4 b {
    display: inline-block;
    position: relative
}

.ranking-list .ranking-time h4 b i {
    position: absolute;
    left: 5px;
    top: -14px
}

.ranking-list .ranking-time h4 b .select-arrow {
    border: 4px solid transparent;
    border-top-color: #727fc1
}

.ranking-list .ranking-time h4 b .select-arrow.down {
    top: -3px
}

.ranking-list .ranking-time h4 b .select-arrow.up {
    transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -webkit-transform: rotate(180deg);
    -o-transform: rotate(180deg)
}

.ranking-list .ranking-time h4 b .select-arrow.active,.ranking-list .ranking-time h4 b .select-arrow:hover {
    border-top-color: #9aa0cf;
    cursor: pointer
}

.ranking-list li {
    line-height: 60px;
    color: #acb5e5
}

.ranking-list li:nth-child(even) {
    background: rgba(62,69,131,.3)
}

.ranking-list li:nth-child(odd) {
    background: rgba(62,69,131,.15)
}

.ranking-container {
    width: calc(100% - 130px);
    float: left
}

.ranking-content {
    width: 100%;
    text-align: center;
    border-right: 1px solid #1b1f47
}

.ranking-container.compare .ranking-content {
    width: 50%;
    float: left
}

.tab-data-trend {
    margin: 50px 20px 20px
}

.tab-data-trend.top-margin {
    margin-top: 0
}

.table-trend {
    border-top: 1px solid #2a2e5f
}

.table-trend.scale {
    border-top: none
}

.table-trend.scale td label {
    width: 40px;
    display: inline-block
}

.table-trend td,.table-trend th {
    text-align: left;
    color: #8493e3;
    line-height: 48px;
    border-bottom: 1px solid #2a2e5f
}

.table-trend th {
    color: rgba(255,255,255,.7)
}

.table-trend td b {
    height: 8px;
    background: #2a2e5f;
    border-radius: 2px;
    width: 80px;
    overflow: hidden;
    vertical-align: middle;
    display: inline-block;
    position: relative;
    margin-left: 26px
}

.table-trend.scale td b {
    width: 80px
}

.table-trend td b i {
    height: 8px;
    border-radius: 2px;
    position: absolute;
    left: 0;
    top: 0
}

.table-trend td b i.blue {
    background: #3690ff
}

.table-trend td b i.green {
    background: #00ae77
}

.table-trend td b i.orange {
    background: #ec611d
}

.table-trend td b i.yellow {
    background: #eca222
}

.equipment-data-container {
    height: 332px;
    overflow: auto
}

.data-container .gender-content.diff:nth-child(2) .table-trend b i.blue {
    background: #06bf66
}

.right-list.brand.area {
    margin-right: 20px
}

.right-list.brand.area span.active-percent {
    width: inherit
}

.bubble {
    width: 100%;
    height: 370px;
    margin: 0 auto;
    position: relative;
    overflow: hidden
}

.diff .bubble {
    width: 100%;
    height: 420px
}

.bubble_min {
    background: #eaedfc;
    border-radius: 50%;
    position: absolute;
    opacity: .5
}

.bubble_min:nth-child(1) {
    width: 20px;
    height: 20px;
    top: 100px;
    left: 40px
}

.bubble_min:nth-child(2) {
    width: 90px;
    height: 90px;
    top: 130px;
    left: 110px
}

.bubble_min:nth-child(3) {
    width: 50px;
    height: 50px;
    top: 90px;
    left: 180px
}

.bubble_min:nth-child(4) {
    width: 30px;
    height: 30px;
    top: 250px;
    left: 300px
}

.bubble_min:nth-child(5) {
    width: 30px;
    height: 30px;
    top: 110px;
    right: 200px
}

.bubble_min:nth-child(6) {
    width: 110px;
    height: 110px;
    top: 120px;
    right: 100px
}

.bubble_min:nth-child(7) {
    width: 20px;
    height: 20px;
    top: 220px;
    right: 30px
}

.bubble_list {
    width: 63%;
    height: inherit;
    margin: 0 auto;
    position: relative
}

.diff .bubble_list {
    width: 100%
}

.bubble_item {
    border-radius: 50%;
    position: absolute;
    display: table
}

.bubble_item p {
    width: inherit;
    text-align: center;
    vertical-align: middle;
    display: table-cell;
    color: #fff
}

.bubble_item p span {
    display: block
}

.bubble_item:nth-child(1) p span {
    font-size: 12px
}

.bubble_item:nth-child(2) p span {
    font-size: 18px
}

.bubble_item:nth-child(3) p span {
    font-size: 16px
}

.bubble_item:nth-child(4) p span {
    font-size: 20px
}

.bubble_item:nth-child(5) p span {
    font-size: 18px
}

.bubble_item:nth-child(6) p span {
    font-size: 16px
}

.bubble_item p i {
    display: block;
    font-family: Arial;
    margin-top: 5px
}

.bubble_item:nth-child(1) p i {
    font-size: 18px
}

.bubble_item:nth-child(2) p i {
    font-size: 20px
}

.bubble_item:nth-child(3) p i {
    font-size: 21px
}

.bubble_item:nth-child(4) p i {
    font-size: 25px
}

.bubble_item:nth-child(5) p i {
    font-size: 24px
}

.bubble_item:nth-child(6) p i {
    font-size: 19px
}

.bubble_item:nth-child(1) {
    width: 85px;
    height: 85px;
    top: 100px;
    left: 0;
    background: rgba(238,190,0,.9);
    z-index: 1
}

.diff .bubble_item:nth-child(1) {
    left: auto;
    right: 200px
}

.bubble_item:nth-child(2) {
    width: 130px;
    height: 130px;
    top: 125px;
    left: 65px;
    background: rgba(63,178,138,.9);
    z-index: 2
}

.diff .bubble_item:nth-child(2) {
    top: 30px;
    left: auto;
    right: 80px
}

.bubble_item:nth-child(3) {
    width: 110px;
    height: 110px;
    top: 70px;
    left: 150px;
    background: rgba(82,168,230,.9);
    z-index: 3
}

.diff .bubble_item:nth-child(3) {
    top: 150px;
    left: 45px
}

.bubble_item:nth-child(4) {
    width: 190px;
    height: 190px;
    top: 45px;
    right: 210px;
    background: rgba(107,119,224,.9);
    z-index: 2
}

.diff .bubble_item:nth-child(4) {
    top: 145px;
    right: 20px
}

.bubble_item:nth-child(5) {
    width: 170px;
    height: 170px;
    top: 60px;
    right: 90px;
    background: rgba(104,185,83,.9);
    z-index: 1
}

.diff .bubble_item:nth-child(5) {
    top: 240px;
    right: auto;
    left: 75px
}

.bubble_item:nth-child(6) {
    width: 115px;
    height: 115px;
    top: 130px;
    right: 0;
    background: rgba(239,162,25,.9);
    z-index: 2
}

.diff .bubble_item:nth-child(6) {
    top: 300px;
    right: 30px
}

.ani_auto {
    -webkit-animation-timing-function: linear;
    -webkit-animation-fill-mode: both;
    -webkit-animation-iteration-count: infinite;
    -moz-animation-timing-function: linear;
    -moz-animation-fill-mode: both;
    -moz-animation-iteration-count: infinite;
    animation-timing-function: linear;
    animation-fill-mode: both;
    animation-iteration-count: infinite
}

.ani_time_8 {
    -webkit-animation-duration: 8s;
    -moz-animation-duration: 8s;
    animation-duration: 8s
}

.ani_time_10 {
    -webkit-animation-duration: 10s;
    -moz-animation-duration: 10s;
    animation-duration: 10s
}

.ani_time_12 {
    -webkit-animation-duration: 12s;
    -moz-animation-duration: 12s;
    animation-duration: 12s
}

.ani_top_bottom {
    -webkit-animation-name: ani_bubble_top_bottom;
    -moz-animation-name: ani_bubble_top_bottom;
    animation-name: ani_bubble_top_bottom
}

@-webkit-keyframes ani_bubble_top_bottom {
    0%,100%,50% {
        -webkit-transform: translateY(0)
    }

    25% {
        -webkit-transform: translateY(15px)
    }

    75% {
        -webkit-transform: translateY(-15px)
    }
}

@-moz-keyframes ani_bubble_top_bottom {
    0%,100%,50% {
        -moz-transform: translateY(0)
    }

    25% {
        -moz-transform: translateY(15px)
    }

    75% {
        -moz-transform: translateY(-15px)
    }
}

@keyframes ani_bubble_top_bottom {
    0%,100%,50% {
        transform: translateY(0)
    }

    25% {
        transform: translateY(15px)
    }

    75% {
        transform: translateY(-15px)
    }
}

.ani_bottom_top {
    -webkit-animation-name: ani_bubble_bottom_top;
    -moz-animation-name: ani_bubble_bottom_top;
    animation-name: ani_bubble_bottom_top
}

@-webkit-keyframes ani_bubble_bottom_top {
    0%,100%,50% {
        -webkit-transform: translateY(0)
    }

    25% {
        -webkit-transform: translateY(-15px)
    }

    75% {
        -webkit-transform: translateY(15px)
    }
}

@-moz-keyframes ani_bubble_bottom_top {
    0%,100%,50% {
        -moz-transform: translateY(0)
    }

    25% {
        -moz-transform: translateY(-15px)
    }

    75% {
        -moz-transform: translateY(15px)
    }
}

@keyframes ani_bubble_bottom_top {
    0%,100%,50% {
        transform: translateY(0)
    }

    25% {
        transform: translateY(-15px)
    }

    75% {
        transform: translateY(15px)
    }
}

.ani_top_top {
    -webkit-animation-name: ani_bubble_top_top;
    -moz-animation-name: ani_bubble_top_top;
    animation-name: ani_bubble_top_top
}

@-webkit-keyframes ani_bubble_top_top {
    0%,100%,50% {
        -webkit-transform: translateY(0)
    }

    25% {
        -webkit-transform: translateY(15px)
    }

    75% {
        -webkit-transform: translateY(-15px)
    }
}

@-moz-keyframes ani_bubble_top_top {
    0%,100%,50% {
        -moz-transform: translateY(0)
    }

    25% {
        -moz-transform: translateY(15px)
    }

    75% {
        -moz-transform: translateY(-15px)
    }
}

@keyframes ani_bubble_top_top {
    0% {
        transform: translateY(300px)
    }

    100% {
        transform: translateY(-300px)
    }
}

.app-logo dl {
    margin-left: 20px
}

.app-logo dl.public-throng dt {
    color: #fff;
    font-size: 22px;
    padding: 6px 0 12px;
    display: block
}

.app-logo dl.public-throng dd {
    display: inline-block;
    border: 1px solid #4d5598;
    border-radius: 2px;
    margin-right: 8px;
    float: left;
    line-height: 26px;
    padding: 0 6px
}

.rankings-intr {
    padding: 28px 0
}

.rankings-intr .r {
    width: 40%;
    padding-top: 32px
}

.rankings-intr .r span {
    background: #4d5598;
    color: #fff;
    line-height: 21px;
    padding: 0 12px
}

.rankings-intr .r label {
    clear: both;
    border: 1px solid #4d5598;
    padding: 10px 10px 28px;
    line-height: 21px;
    float: left
}

.word-frequency {
    border-top: 1px solid #3e4583
}

.word-frequency h5 {
    font-size: 16px;
    color: #fff;
    padding-bottom: 20px
}

.article-explain {
    position: absolute;
    z-index: 10;
    background: rgba(78,93,171,.6);
    border: 1px solid #4d5793;
    border-radius: 4px;
    padding: 12px
}

.article-explain label {
    color: #fff;
    font-size: 12px
}

.article-explain p {
    color: #3dea99;
    font-size: 13px;
    width: 140px;
    padding-top: 10px
}

.article-explain p b {
    font-size: 16px;
    padding-right: 4px
}

.article-explain i {
    position: absolute;
    border-top: 7px solid #3a4483;
    border-left: 7px solid transparent;
    border-right: 7px solid transparent;
    z-index: 10;
    top: 66px
}

.dataLine-content.gender {
    padding: 30px 0 60px;
    width: 80%;
    margin: 0 auto
}

.appRank-container {
    width: calc(100% - 150px);
    float: left;
    margin-left: 30px
}

.appRank-container.compare {
    background: url(../images/bg-bottom-rankingList.png) left bottom no-repeat;
    background-size: 100%
}

.fixed .appRank-container {
    margin-left: 150px;
    padding-top: 138px
}

.bg-ranking-contents {
    background: url(../images/bg-ranking-contents.png) left top repeat-y;
    background-size: 100%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 67px
}

.appRank-content {
    width: 49%;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    border-top: 2px solid #3a7bff
}

.appRank-content:last-child {
    border-top-color: #00e66d
}

.lists-container {
    background: rgba(47,103,226,.1)
}

.appRank-container.compare .lists-container {
    background: 0 0
}

.fixed .title-container {
    position: fixed;
    width: 515px;
    top: 100px;
    z-index: 100;
    border-radius: 4px;
    border-top: 2px solid #3a7bff
}

.fixed .appRank-content:last-child .title-container {
    border-top-color: #00e66d
}

.appRank-content .title {
    position: relative;
    padding-left: 30px;
    color: #fff;
    height: 44px;
    display: flex;
    align-items: center
}

.fixed .appRank-content .title {
    background: #181f5d
}

.appRank-content .title label {
    font-size: 14px;
    padding: 0 4px
}

.appRank-content .title i {
    font-size: 28px
}

.appRank-content .title i.icon-explain {
    font-size: 18px;
    color: rgba(132,147,227,.64);
    cursor: pointer;
    position: relative
}

i:hover .help {
    display: block
}

.data-type-name {
    height: 28px;
    background: #1d2d75;
    line-height: 28px;
    color: #889ff9;
    padding-left: 36px
}

.data-type-name .name-apply,.data-type-name .name-change,.percent-app {
    display: inline-block;
    float: left
}

.data-type-name .name-apply {
    width: 314px
}

.name-change {
    padding-left: 14px
}

.add-more {
    color: #fff;
    padding: 30px 0 0 150px;
    text-align: center;
    clear: both;
    font-size: 14px;
    cursor: pointer
}

.add-more:hover {
    color: #4459aa
}

.ranking-title {
    height: 52px;
    display: flex;
    align-items: center;
    font-size: 14px;
    color: #fff;
    position: absolute
}

.ranking-title i {
    display: inline-block;
    width: 32px;
    height: 32px;
    border-radius: 50%;
    margin-right: 8px;
    overflow: hidden
}

.ranking-title i img {
    width: 100%
}

.ranking-title i.app-rank {
    background: #0fa7ff
}

.ranking-title i.apply-rank {
    background: #3e82ff
}

.ranking-title i.wechat-rank {
    background: #5bb543
}

.ranking-title i.weibo-rank {
    background: #fa864c
}

.ranking-list-container {
    padding: 0 30px;
    min-height: 400px;
    overflow: hidden
}

.ranking-list-container a {
    color: #fff;
    display: block
}

.ranking-list-container a.more {
    padding: 20px 10px
}

.ranking-list-contents {
    border-bottom: 1px solid rgba(47,103,224,.12);
    display: flex;
    align-items: center;
    height: 66px;
    color: #8493e3
}

.ranking-list-contents em {
    width: 18px;
    height: 18px;
    display: inline-block;
    text-align: center;
    line-height: 18px;
    padding-left: 0;
    margin-right: 20px;
    border-radius: 2px
}

.compare .ranking-list-container a:first-child b i,.compare .ranking-list-container a:first-child em {
    background: #ee6b14;
    color: #fff
}

.compare .ranking-list-container a:nth-child(2) b i,.compare .ranking-list-container a:nth-child(2) em {
    background: #f6b407;
    color: #fff
}

.compare .ranking-list-container a:nth-child(3) b i,.compare .ranking-list-container a:nth-child(3) em {
    background: #16b48a;
    color: #fff
}

.ranking-list-contents span {
    display: inline-block;
    float: left;
    width: 32px;
    height: 32px;
    border-radius: 50%;
    overflow: hidden;
    text-align: center
}

.ranking-list-contents span img {
    width: 100%
}

.app-percent {
    display: flex;
    flex-direction: column;
    font-size: 14px;
    margin: 0 20px;
    width: calc(100% - 250px)
}

.percent-app {
    width: 65px
}

.app-percent label {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    width: 100%;
    color: rgba(255,255,255,.9);
    font-size: 12px;
    cursor: pointer
}

.app-percent b {
    margin-top: 10px;
    height: 2px;
    border-radius: 4px;
    overflow: hidden
}

.app-percent b i {
    height: 2px;
    background: #4b5895;
    display: block;
    border-radius: 4px
}

.index-number {
    width: 70px;
    text-align: right;
    font-size: 16px
}

.index-number label {
    font-size: 12px
}

.index-number strong {
    font-size: 16px;
    opacity: .8
}

.ranking-list-container a:first-child .index-number strong {
    font-weight: 700;
    font-size: 20px
}

.rise-decline {
    padding: 0 20px 0 10px;
    width: 50px;
    color: #8493e3;
    font-size: 14px
}

.rise-decline i {
    display: block;
    float: left;
    position: relative;
    width: 15px;
    height: 15px
}

.rise-decline i:after,.rise-decline i:before {
    position: absolute;
    z-index: 1;
    content: ""
}

.rise-decline i:before {
    width: 3px;
    height: 6px;
    background: #16b48a;
    left: 0;
    bottom: 3px
}

.rise-decline i:after {
    display: block;
    width: 0;
    height: 0;
    border-bottom: 6px solid #16b48a;
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    left: -4px;
    top: 0
}

.rise-decline i.equal:after,.rise-decline i.equal:before {
    content: "";
    opacity: 0
}

.rise-decline i.equal {
    line-height: 12px;
    font-weight: 800;
    text-align: center
}

.rise-decline i.up {
    transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    top: 5px
}

.rise-decline label {
    width: 42px
}

.rise-decline i.down {
    transform: rotate(135deg);
    -ms-transform: rotate(135deg);
    -moz-transform: rotate(135deg);
    -webkit-transform: rotate(135deg);
    -o-transform: rotate(135deg);
    margin: 5px 11px 0 -7px
}

.rise-decline i.down:before {
    background: #ffac01
}

.rise-decline i.down:after {
    border-bottom-color: #ffac01
}

.trophy {
    font-size: 22px;
    text-align: right;
    padding-right: 20px
}

.trophy .golden-cup {
    display: inline-block;
    width: 20px;
    height: 22px;
    background: url(../images/golden-cup.png) top center no-repeat;
    background-size: contain
}

.ranking-list-container a:first-child .trophy,.ranking-list-container a:nth-child(2) .trophy,.ranking-list-container a:nth-child(3) .trophy,.ranking-list-contents:first-child .trophy,.ranking-list-contents:nth-child(2) .trophy,.ranking-list-contents:nth-child(3) .trophy {
    visibility: inherit
}

.ranking-list-container a:nth-child(2) .trophy,.ranking-list-contents:nth-child(2) .trophy {
    color: #cbcbcb
}

.ranking-list-container a:nth-child(3) .trophy,.ranking-list-contents:nth-child(3) .trophy {
    color: #d6aa35
}

.behavior-total-data {
    padding-bottom: 20px
}

.behavior-total-data label {
    color: #00d294;
    font-size: 14px
}

.behavior-total-data label b {
    font-size: 20px;
    padding: 0 20px 0 8px
}

.behavior-total-data span {
    color: #fff
}

.behavior-total-data span em {
    font-size: 12px;
    margin-left: 6px
}

.behavior-total-data span em.icon-rise-fall:before {
    top: -3px
}

.behavior-total-data span em.icon-rise-fall:after {
    top: 5px
}

.behavior-total-data span.down em.icon-rise-fall:before {
    top: 8px
}

.behavior-total-data span.down em.icon-rise-fall:after {
    top: 2px
}

.layer-container {
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,.5);
    position: fixed;
    margin: 0;
    left: 0;
    padding: 0;
    top: 0;
    z-index: 10;
    -webkit-box-align: center;
    -moz-box-align: center;
    -ms-flex-pack: center;
    -moz-justify-content: center;
    justify-content: center;
    -webkit-box-pack: center;
    -moz-box-pack: center;
    -ms-flex-align: center;
    -moz-align-items: center;
    align-items: center;
    display: none
}

.feedback-container {
    background: #fff;
    padding: 20px;
    text-align: center;
    position: relative;
    width: 360px
}

.feedback-container p {
    position: absolute;
    right: 22px;
    top: 20px;
    font-size: 18px;
    cursor: pointer
}

.feedback-container p:hover {
    color: #43a3fb
}

.feedback-container dl {
    padding: 10px 0
}

.feedback-container dl dt {
    font-size: 72px;
    color: #43a3fb
}

.feedback-container dl dd {
    font-size: 16px
}

.feedback-container li {
    line-height: 28px;
    color: #657180
}

.feedback-container li:first-child {
    font-size: 14px;
    color: #464c5b
}

.write-textarea {
    padding: 20px 0 10px
}

.write-textarea textarea {
    width: 320px;
    height: 106px;
    border: 1px solid #e3e8ee;
    padding: 6px 12px;
    border-radius: 4px;
    resize: none;
    line-height: 22px
}

.textarea-container {
    position: relative;
    padding-bottom: 32px
}

.textarea-container label {
    position: absolute;
    bottom: 10px;
    left: 0;
    width: 100%;
    color: #f60
}

.write-textarea span {
    color: #43a3fb;
    width: 320px
}

.write-textarea .btn-submit {
    background: #43a3fb;
    color: #fff;
    clear: both;
    line-height: 34px;
    width: 100%;
    border-radius: 4px;
    font-size: 14px;
    cursor: pointer
}

.write-textarea .btn-submit:hover {
    background: #3e99ec
}

.trend-ope.trend {
    border: none
}

.trend-ope.trend h4 {
    color: #fff;
    font-size: 13px
}

.trend-compare {
    position: absolute;
    z-index: 10;
    background: rgba(11,15,52,.6);
    border: 1px solid #4f5aa9;
    border-radius: 4px;
    padding: 12px 12px 8px
}

.trend-compare ol {
    color: #acb5e5;
    font-size: 13px;
    padding-bottom: 12px
}

.trend-compare li {
    float: left;
    display: block
}

.trend-compare li:first-child {
    width: 84px
}

.trend-compare li:nth-child(2) {
    width: 110px
}

.trend-compare li:last-child {
    width: 90px
}

.trend-compare ul {
    line-height: 30px;
    color: #fff;
    font-size: 13px
}

.trend-compare .compare-app ul:last-child {
    border-top: 1px solid #484989
}

.trend-compare ul li:last-child {
    font-size: 16px
}

.trend-compare ul li b {
    display: inline-block;
    width: 10px;
    height: 10px;
    background: #01ae78;
    margin-right: 6px
}

.trend-compare ul:last-child li b {
    background: #ec611e
}

.versions-container {
    padding: 16px 20px 30px;
    margin-top: 26px
}

.versions-content {
    font-size: 13px;
    line-height: 30px;
    color: #acb5e5
}

.versions-container.compare .versions-content {
    float: left
}

.versions-container.compare .versions-content:first-child {
    border-right: 1px solid #3f4380;
    width: calc(50% - 1px)
}

.versions-container.compare .versions-content:last-child {
    margin-left: 2%;
    width: 48%
}

.versions-container .versions-content ul>li {
    width: 28%;
    float: left;
    position: relative
}

.versions-container.compare .versions-content ul>li {
    width: 33.33%
}

.versions-content ul>li i {
    color: #3e4583;
    font-size: 18px
}

.versions-content ul>li i.active {
    color: #8390d2
}

.versions-content ul>li h4 {
    border: 1px solid transparent;
    color: #fff;
    border-radius: 2px;
    padding: 0 10px;
    width: 75px;
    position: relative
}

.versions-content ul>li h4 i {
    color: #fff;
    font-size: 14px
}

.versions-content ul>li h4:focus {
    border: 1px solid #4c5598;
    background: rgba(75,83,155,.2)
}

.versions-content ul>li h4 em {
    position: absolute;
    right: 10px;
    top: 14px;
    width: 0;
    height: 0;
    border-top: 4px solid #8492d1;
    border-left: 4px solid transparent;
    border-right: 4px solid transparent
}

.versions-content ul>li ol {
    position: absolute;
    background: #242855;
    border: 1px solid #4c5598;
    top: 31px
}

.versions-content ul>li ol li {
    padding: 0 10px;
    width: 75px;
    color: #a9b1e2
}

.versions-content ul>li ol li:hover {
    background: #30366a;
    cursor: pointer
}

.data-content.app-rank.weibo {
    margin: 0 auto
}

.weibo-ranking {
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    border-top: 2px solid #3a7bff;
    width: 100%
}

.weibo-ranking p img {
    float: right;
    width: 472px;
    height: 70px
}

.weibo-ranking p b {
    display: block;
    float: left;
    height: 68px;
    background: url(../images/bg-bottom-ranking-list.png) left top no-repeat;
    width: calc(100% - 472px)
}

.tab-weiboRanking tbody,.tab-weiboRanking thead {
    display: inline-block;
    width: 990px;
    padding: 0 30px
}

.weibo-ranking .ranking-list-container {
    padding: 0;
    overflow: visible
}

.tab-weiboRanking thead {
    background: rgba(58,122,254,.12)
}

.fixed .tab-weiboRanking thead {
    position: fixed;
    background: #1d2d75;
    width: 990px;
    padding: 0 30px;
    top: 100px;
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
    border-top: 2px solid #3a7bff;
    z-index: 100
}

.tab-weiboRanking th {
    color: #8493e3;
    text-align: left;
    height: 56px;
    line-height: 26px;
    padding-right: 10px
}

.tab-weiboRanking th:last-child {
    padding-right: 0
}

.weibo-ranking-contents em {
    width: 30px;
    float: left;
    font-size: 14px;
    color: #8493e3;
    padding-left: 15px
}

.weibo-ranking-contents span {
    display: inline-block;
    float: left;
    width: 32px;
    height: 32px;
    border-radius: 50%;
    overflow: hidden;
    text-align: center
}

.weibo-ranking-contents span img {
    width: 100%
}

.tab-weiboRanking td {
    height: 66px;
    color: #8493e3;
    font-size: 14px;
    border-bottom: 1px solid rgba(47,103,224,.12);
    padding-right: 10px
}

.tab-weiboRanking td:last-child {
    padding-right: 0
}

.weibo-id-flex {
    display: flex;
    justify-content: flex-start;
    align-items: center
}

.weibo-id-flex em {
    width: 30px;
    height: 18px;
    display: inline-block;
    text-align: center;
    line-height: 18px;
    padding-left: 0;
    margin-right: 20px;
    border-radius: 2px
}

.tab-weiboRanking tr:first-child .weibo-id-flex em {
    background: #ee6b14;
    color: #fff
}

.tab-weiboRanking tr:nth-child(2) .weibo-id-flex em {
    background: #f6b407;
    color: #fff
}

.tab-weiboRanking tr:nth-child(3) .weibo-id-flex em {
    background: #16b48a;
    color: #fff
}

.weibo-ranking .app-percent {
    width: 100px;
    margin-right: 0
}

.tab-weiboRanking tr:first-child .app-percent b i {
    background: #ff761b
}

.tab-weiboRanking tr:nth-child(2) .app-percent b i {
    background: #f6b407
}

.tab-weiboRanking tr:nth-child(3) .app-percent b i {
    background: #16b48a
}

.tab-weiboRanking .rise-decline {
    padding: 0;
    margin-left: 10px
}

.tab-weiboRanking tr:nth-child(2) .trophy {
    color: #cbcbcb
}

.tab-weiboRanking tr:nth-child(3) .trophy {
    color: #d6aa35
}

.en_index .dropdown .selected label input {
    width: 190px
}

.en_index .cancel-compare {
    padding: 15px 0 0 65px
}

.en_index .dropdown-container .dropdown {
    width: 234px
}

.dataPic-container .public-throng-maps {
    width: 100%!important
}

.dataPic-container .public-throng-maps .maps-content {
    width: 49%
}

.public-throng-maps .right-list {
    position: absolute;
    top: 25px;
    right: 40px
}

.operate-apply,.popup-box {
    position: fixed;
    left: 0;
    display: flex
}

.public-throng-maps .gender-content {
    height: 460px;
    overflow: visible
}

.operate-apply {
    z-index: 1;
    right: 0;
    bottom: 0;
    justify-content: center;
    text-align: center;
    align-items: center;
    height: 80px;
    background: rgba(57,65,132,.9);
    opacity: 0;
    transition: all linear .3s;
    -webkit-transition: all linear .3s;
    -moz-transition: all linear .3s;
    -ms-transition: all linear .3s;
    -o-transition: all linear .3s
}

.operate-apply a {
    color: #acb5e5;
    font-size: 13px;
    border: 1px solid #808cce;
    border-radius: 30px;
    height: 36px;
    line-height: 36px;
    width: 140px;
    margin: 0 5px
}

.operate-apply a:hover {
    background: rgba(39,45,96,.8);
    color: #fff
}

.popup-box {
    background: rgba(0,0,0,.6);
    width: 100%;
    height: 100%;
    top: 0;
    z-index: 99999999;
    justify-content: center;
    align-items: center
}

.entering-contents {
    background: #fff;
    padding: 20px;
    border-radius: 4px;
    width: 440px
}

.entering-contents h4 {
    text-align: center;
    color: #454d61;
    font-size: 16px;
    padding-bottom: 14px;
    position: relative
}

.popup-box i.close-popup {
    position: absolute;
    transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    font-size: 28px;
    top: -7px;
    right: 0;
    color: #9aa8b5;
    cursor: pointer
}

.area-feedback,.entering-contents ul li input {
    margin: 6px 0;
    font-size: 14px;
    width: 100%;
    box-sizing: border-box
}

.popup-box i.close-popup:hover {
    color: #03a3ff
}

.entering-contents ul li {
    position: relative
}

.entering-contents ul li b,.entering-contents ul li label {
    position: absolute;
    z-index: 1000
}

.entering-contents ul li input {
    height: 48px;
    border: 1px solid #e1e8ef;
    border-radius: 4px;
    padding: 0 12px
}

.area-feedback {
    height: 148px;
    border: 1px solid #e1e8ef;
    border-radius: 4px;
    padding: 12px;
    line-height: 20px;
    resize: none
}

.entering-contents ul li.on-focus input:focus {
    border-color: #03a3ff;
    box-shadow: 0 0 3px rgba(3,163,255,.5)
}

.entering-contents ul li b {
    color: #a2abb2;
    left: 12px;
    font-size: 16px;
    top: 22px;
    font-weight: 400
}

.entering-contents ul li.on-focus b {
    font-size: 12px;
    top: -2px;
    background: #fff;
    color: #454d61;
    padding: 2px 4px;
    border-right: 2px
}

.entering-contents ul li label {
    right: 12px;
    top: 22px;
    font-size: 14px;
    color: #ff9400;
    display: none
}

.popup-box .btn-blue {
    width: 100%;
    margin-top: 14px;
    font-size: 14px;
    height: 36px;
    line-height: 36px
}

.failed-contents,.succeed-contents {
    text-align: center;
    width: 310px;
    background: #fff;
    border-radius: 4px;
    padding: 20px;
    box-sizing: border-box
}

.failed-contents span,.succeed-contents span {
    padding-top: 6px;
    display: inline-block
}

.failed-contents p,.succeed-contents p {
    color: #454d61;
    font-size: 14px;
    line-height: 24px
}

.succeed-contents p {
    padding: 20px 0 70px
}

.failed-contents p {
    padding: 20px 0 12px
}

.failed-contents label {
    color: #637080;
    font-size: 12px;
    line-height: 22px;
    padding-bottom: 40px;
    display: inline-block
}

.icon-tips {
    position: relative
}

@media only screen and (max-width: 1240px) {
    .fexed-menu,.fexed-menu.fixed .bg-appDetailTop,.fixed .app-menu,.fixed .title-container {
        position:initial
    }

    .fixed .appRank-container {
        margin-left: 30px;
        padding-top: 0
    }

    .fexed-menu {
        padding-bottom: 0;
        background: rgba(62,69,131,.3);
        background: -webkit-gradient(linear,left top,left bottom,from(rgba(22,27,73,.3)),to(rgba(51,59,137,.3)))
    }
}
